<div class="footer mt-5">
    <div class="left">
        <a> &copy; YatraDo Inc.</a>
        <a href="/privacy"> Privacy</a>
        <a href="/company">Company Detail</a>
        <a href="/developer">Developer</a>
    </div>
    <div class="social">
        <a><i class="fa-brands fa-square-facebook"></i> </a>
        <a><i class="fa-brands fa-square-instagram"></i> </a>
        <a><i class="fa-brands fa-linkedin"></i> </a>
    </div>

</div>